<p  style="padding: var(14px);" style="color: blue;" >my profile</p>

<div  class="col-md-3">
    <h5 class="header">Name</h5>
    <input type="text" class="form-control"  value="">
</div>
<div  class="col-md-3">
    <h5 class="header">Surname</h5>
    <input type="text" class="form-control" value="" >
</div>
<div >
<div class="col-md-3" >
    <h5 class="header">Mobile Number</h5>
    <input type="text" class="form-control"  value="">
</div>


<div >
<div Class="col-md-3">
    <h5 class="header">Email id</h5>
    <input type="text" class="form-control"  value="">
</div>
<div class="col-md-3">
    <h5 class="header">blood group</h5>
    <input type="text" class="form-control" value="" >
</div>
<input type="button" value="submit">
</div>
<hr><hr>
<table>
    <thead>
        <td>name</td>
        <td>Surname</td>
        <td>Mobile Number</td>
        <td>Email</td>
        <td>blood group</td>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
    
 
        


</table>


